openapi: 3.0.3
info:
  title: Bravio API - Startup Launch Operating System
  description: Professional AI-Powered Startup Launcher Engine REST API. Enqueues asynchronously backed DAG tasks and streams creation tracking statistics in real-time.
  version: 1.0.0
servers:
  - url: https://api.bravio.ai
    description: Production API Server
  - url: http://localhost:4000
    description: Local Development Server

security:
  - BearerAuth: []

paths:
  /api/projects:
    get:
      summary: Retrieve all projects
      description: Returns a list of startup projects associated with the active authenticated user profile.
      responses:
        '200':
          description: A JSON array of projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Initialize new empty startup project
      description: Creates a new empty project record inside the system database container.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - originalPrompt
              properties:
                originalPrompt:
                  type: string
                  minLength: 10
                  maxLength: 2000
                  example: "I want to build an AI fitness coach for busy professionals."
      responses:
        '201':
          description: Project created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/projects/{id}:
    get:
      summary: Retrieve fully hydrated project
      description: Returns the complete generated asset package (branding, competitors, pricing, logos, roadmap, landing pages).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Fully hydrated project representation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHydrated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a project
      description: Safe cascading deletion of the project and all attached assets.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Project successfully deleted."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/generate/startup:
    post:
      summary: Trigger background startup generation DAG pipeline
      description: Pushes an execution job containing the project ID onto the Redis Fargate queue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectId
              properties:
                projectId:
                  type: string
                  format: uuid
                  example: "d74b971a-6e3e-436b-a25e-e47012bc552f"
      responses:
        '202':
          description: Generation job successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueJobAccepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'

  /api/generate/logo:
    post:
      summary: Regenerate custom logo asset
      description: Submit custom design styling criteria to redraw the visual image.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectId
              properties:
                projectId:
                  type: string
                  format: uuid
                styleOverride:
                  type: string
                  maxLength: 255
                  example: "Vibrant Neon synthwave style, dark backdrop"
      responses:
        '200':
          description: Logo successfully regenerated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  logoId:
                    type: string
                    format: uuid
                  s3ImageUrl:
                    type: string
                    example: "https://cdn.bravio.ai/logos/neon_vibe.png"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/generate/landing-page:
    post:
      summary: Regenerate landing page copywriting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectId
              properties:
                projectId:
                  type: string
                  format: uuid
                toneOfVoice:
                  type: string
                  example: "Humorous motivational"
      responses:
        '200':
          description: Landing page successfully updated.
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Schema validation failed.
    Unauthorized:
      description: Auth session header invalid or missing.
    PaymentRequired:
      description: Stripe account is overdue or active project limit reached.
    NotFound:
      description: Resource requested does not exist.

  schemas:
    ProjectSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        originalPrompt:
          type: string
        status:
          type: string
          enum: [PENDING, GENERATING, COMPLETED, FAILED]
        createdAt:
          type: string
          format: date-time

    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        originalPrompt:
          type: string
        status:
          type: string
        userId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    QueueJobAccepted:
      type: object
      properties:
        jobId:
          type: string
        projectId:
          type: string
          format: uuid
        status:
          type: string
          example: "GENERATING"
        statusUrl:
          type: string
          example: "/api/projects/d74b971a-6e3e-436b-a25e-e47012bc552f/generation-status"

    ProjectHydrated:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        originalPrompt:
          type: string
        status:
          type: string
        brandAssets:
          type: object
          properties:
            taglineSuggestions:
              type: array
              items:
                type: string
            primaryColor:
              type: string
            secondaryColor:
              type: string
            accentColor:
              type: string
            backgroundColor:
              type: string
            headingFont:
              type: string
            bodyFont:
              type: string
            brandVoiceGuide:
              type: string
        logo:
          type: object
          properties:
            dallePrompt:
              type: string
            s3ImageUrl:
              type: string
            logoFormat:
              type: string
        landingPage:
          type: object
          properties:
            seoTitle:
              type: string
            seoDescription:
              type: string
            heroTitle:
              type: string
            heroSubtitle:
              type: string
            ctaText:
              type: string
            featuresJson:
              type: array
              items:
                type: object
            faqJson:
              type: array
              items:
                type: object
        pricingModels:
          type: array
          items:
            type: object
        competitors:
          type: array
          items:
            type: object
        roadmap:
          type: array
          items:
            type: object
